[Unit]
Description=Phabricator HTTP Receiving hook

[Service]
ExecStart=/usr/bin/phab-http-daemon
Restart=always

[Install]
WantedBy=multi-user.target

